<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.goggle.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wisata"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".DenahWisataKuliner"
            android:exported="false" />
        <activity
            android:name=".DenahWisataEdukasi"
            android:exported="false" />
        <activity
            android:name=".DenahWisataReligi"
            android:exported="false" />
        <activity
            android:name=".DenahWisataAlam"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Denah"
            android:exported="false" />
        <activity
            android:name=".DeskripsiWisataEdukasi"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".ListWisataReligi"
            android:exported="false" />
        <activity
            android:name=".ListWisataKuliner"
            android:exported="false" />
        <activity
            android:name=".ListWisataEdukasi"
            android:exported="false" />
        <activity
            android:name=".ListWisataAlam"
            android:exported="false" />
        <activity
            android:name=".inputFormWR"
            android:exported="false" />
        <activity
            android:name=".inputFormWK"
            android:exported="false" />
        <activity
            android:name=".inputFormWE"
            android:exported="false" />
        <activity
            android:name=".InputForm"
            android:exported="false" />
        <activity
            android:name=".DeskripsiWisataReligi"
            android:exported="false" />
        <activity
            android:name=".DeskripsiWisataKuliner"
            android:exported="false" />
        <activity
            android:name=".DeskripsiWisataAlam"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".WisataKuliner"
            android:exported="false" />
        <activity
            android:name=".WisataReligi"
            android:exported="false" />
        <activity
            android:name=".WisataEdukasi"
            android:exported="false" />
        <activity
            android:name=".WisataAlam"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MatankaladanActivity"
            android:exported="false" />
        <activity
            android:name=".SambergelapActivity"
            android:exported="false" />
        <activity
            android:name=".DanaubiruActivity"
            android:exported="false" />
        <activity
            android:name=".TahuraActivity"
            android:exported="false" />
        <activity
            android:name=".TamiangActivity"
            android:exported="false" />
        <activity
            android:name=".BajuinActivity"
            android:exported="false" />
        <activity
            android:name=".HalauHalauActivity"
            android:exported="false" />
        <activity
            android:name=".AngsanaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>